<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>Chklogin</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Chklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chklogout</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Chklogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFiles</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.ws.rest.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddress</servlet-name>
        <servlet-class>com.pg.lib.Servlet.CustomerAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chklogin</servlet-name>
        <url-pattern>/Chklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chklogout</servlet-name>
        <url-pattern>/Chklogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFiles</servlet-name>
        <url-pattern>/UploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddress</servlet-name>
        <url-pattern>/CustomerAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
